body{
    margin: 0;
}
video{
    min-width: 100%;
    min-height: 100%;
    top: 0%;
    left: 0%;
    object-fit: cover;

    transform: translateX(-50%) translateY(-50);

    z-index: -1;
}

header{
    width: 990px;
    margin: auto;
    background: #000000;
}
#logo img{width: 180px;}
#logo{width: 20%;
            float: left;}
            nav{width: 80%;
            float: left;}
            ul{list-style: none;}
            li{float: left;
            margin: 10px 5px 10px 5px;
            background-color: #f51414;
            color: rgb(8, 8, 8);
            padding: 10px 5px 10px 5px;
            text-transform: uppercase;
            }
            